<header class="default">
    <div class="brand">
        <a href="/"><h1>NEWS</h1></a>
    </div>
    <div class="navbar" id="nav">


            <form class="searchBox" action="/search" method="GET" id="my_form">

                <input type="text" placeholder="Search here..." type="search" name="search" id="search" />
                <span class="fas fa-search" id="searchIcon"></span>

            </form>

    </div>
</header>
