<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News tarea 2</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <script src="https://kit.fontawesome.com/9ff29c1574.js" crossorigin="anonymous"></script>

</head>

<body>

    {{{body}}}

<script>
    document.getElementById("searchIcon").addEventListener("click", function () {
        document.getElementById("my_form").submit();
    });
</script>
</body>

</html>